.jumbotron {
	background-color: #8e8e8e;
	padding-top: 200px;
}

#certificate {
	background-color: #8e8e8e;
	padding-top: 60px;
}

#suggest {
	background-color: #8e8e8e;
	padding-top: 60px;
}

#contact {
	padding-top: 100px;
}
